- echo $this->Html->script('accordion_home')
#accordion-home
  %h3 Announcements
    %a(href="#announcements")
  %div
    %p November 15 7:44AM   NACHA SPAM NACHA is the industry trade association that manages the development, administration, and governance of the ACH Network, the backbone for the electronic movement of money and data. NOTICE: The ZeuS trojan is targeting members of NACHA (National Automated Clearing House Association), the organization responsible for the administration and governance of the Automated Clearing House (ACH) network. Cybercriminals are sending emails which appear to come from NACHA to members stating that a transaction sent by them, their bank or some other party has failed. A transaction ID is included in the email and the recipient is directed to download a file containing a transaction report allegedly providing the reason for the rejection. If you receive such an email, DO NOT click on any links or call any numbers listed. Fraudulent Emails Appearing to Come from NACHA Fraud & Phishing Resources Area: Educate & Protect Yourself from Cyber Fraud NACHA provides this resource area to educate consumers, businesses, financial institutions, and other parties about ways that they can protect themselves from the sustained and evolving phishing attacks in which individuals and organizations in the U.S. and other nations are receiving emails that fraudulently claim to come from NACHA regarding ACH payment transactions. Be Aware That: · NACHA does not process nor otherwise touch the ACH transactions that flow via the ACH Network nor between financial institutions and their customers. · NACHA does not send communications of any type to persons or organizations about individual ACH transactions that they originate or receive. If you have received a communication of this nature that purports to come from NACHA, it is fraudulent. · The ACH Network serves as a safe, secure, reliable network for direct consumer, business, and government payments, and annually facilitates billions of payments such as Direct Deposit and Direct Payment. These incidents are occurring with greater frequency and increased sophistication. Perpetrators are conducting similar phishing attacks in which they are sending fraudulent emails that claim to be from the Federal Reserve Bank, IRS, other federal agencies, as well as commercial financial institutions, other payment organizations, technology companies, and businesses. 
  %h3 Employee directory  
    %a(href="#directory")
  %div
    %p some people
  %h3 Home page
    %a(href="#home_page") 
  %div
    %p some people
  %h3 Archives
    %a(href="#archives") 
  %div
    %p   
  %h3 Messages
    %a(href="#messages") 


